*{
    font-family: 'Times New Roman', Times, serif;
}
body{
    margin: 0;
    padding: 0;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 20px;
    align-items: center;
    padding: 20px;
    background: rgb(232, 210, 253);
    color: rgb(68, 8, 124);
}

nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(3, 72, 94);
}

nav ul li a:hover{
    color: aqua;
}